/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.big, h3 {
	font-size: 26px;
	line-height: 36px;
}

.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
}

form#admin_prefs input.submit,
form#admin_prefs input.text {
  width: 100%;
}

form#admin_prefs textarea {
  width: 100%;
}

#content {
  padding: 7px;
}

#counted_types_table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}

#counted_types_table th {
  font-size: small;
  border: 1px solid;
  padding: 1px;
}

#counted_types_table td {
  border: 1px solid;
  padding: 2px;
}

#counted_types_table .active {
  text-align: center;
  width: 25%;
}

#counted_types_table .create_new_type {
  text-align: center;
}

#counted_types_table .name {
  width: 75%;
}

.counter_container {
  border-width: 1px;
  border-style: solid;
  margin-bottom: .5em;
}

.counter_increment {
  width: 45%;
}

.counter_increment_with_comment {
  width: 45%;
}
.counter_increment_container {
  margin: .3em .5em;
  text-align: center;
}

.counter_title {
  font-size: 32px;
  line-height: 32px;
  margin: 10px;
  text-align: center;
}

.counter_value {
  font-size: 68px;
  line-height: 68px;
  margin: 10px;
  text-align: center;
}

#create_item_type_form #name {
  width: 100%;
}

.delete_button {
  float: right;
}

#footer {
  text-align: center;
}

#get_started {
  margin: 1em;
  text-align: center;
}

#header {
  padding: .5em;
}

.history_day {
  padding-bottom: 1em;
}

.history_day_item {
  line-height: 2.2em;
  margin-left: 2em;
}

.history_day_title {
  font-size: 20px;
}

#history_home_button {
  margin-bottom: .75em;
  text-align: center;
  width: 100%;
}

.history_title {
  font-size:32px;
  line-height: 32px;
  text-align: center;
  padding-bottom: .5em;
}

#user_email {
  float: right;
}

#user_history_button {
  margin-bottom: .25em;
  width: 100%;
}

#user_options_button {
  width: 100%;
}

#user_options_form #home,
#user_options_form .submit {
  width: 100%;
}

#title {
  text-align: center;
  padding: 7px;
}


/*	5-column layout - Default size
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

body {
	background: rgb(232,232,232);
	padding: 10px;
	border: solid rgb(218,218,218);
	border-width: 0 2px;
	width: 396px;
	margin: 0 auto;
	-webkit-tap-highlight-color: rgb(255,255,0);
}

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/
@media only screen and (max-width: 479px) {
	body {
		width: 228px;
		-webkit-text-size-adjust: 100%;
	}

  .history_day_item {
    margin-left: .5em;
  }
}
