<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ escape(config_data.title) }}</title>
    <link rel='stylesheet' href='/static/ui-lightness/jquery-ui-1.8.7.custom.css'/>
    <link rel='stylesheet' href='/static/dc.css' type='text/css'/>
    <script type='text/javascript' src='/static/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='/static/jquery-ui-1.8.7.custom.min.js'></script>
    {% block head %}{% end %}
  </head>
	<body>
		<div id='header' class='small'>
			{% if not current_user %}
			  <a href='{{ escape(handler.get_login_url()) }}'>{{ _('Sign in') }}</a>
			{% else %}
			  <a href='{{ escape(handler.get_logout_url()) }}'>{{ _('Sign out') }}</a>
			  {% if current_user.administrator %}
			    :: <a href='/admin'>{{ _('Admin') }}</a>
			  {% end %}
			  <div id='user-email'>{{ current_user.email() }}</div>
			  <br style='clear:both;'/>
			{% end %}
		</div>

		<div class='large' id='title'>{{ escape(config_data.title) }}</div>

		<div id='content'>{% block body %}{% end %}</div>

    <hr/>
    <div id='footer' class='small'>
			&copy;2010 &mdash; All Rights Reserved
		</div>
		<script type='text/javascript'>
      $(document).ready(function() {
        $('.jquery-button').button();
      });
    </script>
    {% block bottom %}{% end %}
	</body>
</html>
