<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1"/>
    <title>{{ escape(config_data.title) }}</title>
    <link rel='stylesheet' href='/static/ui-lightness/jquery-ui-1.8.7.custom.css'/>
    <link rel='stylesheet' href='/static/dc.css' type='text/css'/>
    <script type='text/javascript' src='/static/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='/static/jquery-ui-1.8.7.custom.min.js'></script>
    {% block head %}{% end %}
  </head>
  <body>
    <div id='header' class='small'>
      {% if not current_user %}
        <a class="section_link" href='{{ escape(handler.get_login_url()) }}'>{{ _('Sign in') }}</a>
      {% else %}
        <a class="section_link" href='{{ escape(handler.get_logout_url()) }}'>{{ _('Sign out') }}</a>
        <a class="section_link" href='/user'>{{ _('Home') }}</a>
        <a class="section_link" href='/user/history'>{{ _('History') }}</a>
        <a class="section_link" href='/user/profile'>{{ _('Profile') }}</a>
        {% if current_user.administrator %}
          <a class="section_link" href='/admin'>{{ _('Admin') }}</a>
        {% end %}
        <div id='user_email'>{{ current_user.email() }}</div>
        <br style='clear:both;'/>
      {% end %}
    </div>

    <div class='large' id='title'>{{ escape(config_data.title) }}</div>

    <div id='content'>{% block body %}{% end %}</div>

    <hr/>
    <div id='footer' class='small'>
      &copy;2010 &mdash; All Rights Reserved
    </div>
    <script type='text/javascript'>
      $(document).ready(function() {
        $('.jquery_button').button();
      });
    </script>
    {% block bottom %}{% end %}

    {% block ga_tracking_code %}
      {% if config_data.ga_account_id %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ escape(config_data.ga_account_id) }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
      {% end %}
    {% end %}
  </body>
</html>