{% extends 'base.html' %}

{% block body %}
  <a href='/' class='jquery_button' id='history_home_button'>Home</a>
  <div class='history_title'>History</div>
  {% for key in dates %}
    <div class='history_day'>
      <div class='history_day_title'>{{ escape(key) }}</div>
      {% for item in history[key] %}
        <div class='history_day_item' id='{{ item[2] }}'>
          {{ escape(item[1]) }} &mdash; {{ escape(item[0]) }}
          <a class='jquery_button small delete_button'>Delete</a>
        </div>

        <div class='item_delete_confirm_dialog' id='dialog_{{ item[2] }}'
             data-id='{{ item[2] }}'>
          Really delete {{ escape(item[1]) }} for {{ escape(key) }} at
          {{ escape(item[0]) }}?
        </div>
      {% end %}
    </div>
  {% end %}
{% end %}

{% block bottom %}
<script type='text/javascript' src='/static/history.js'></script>
{% end %}