{% extends 'base.html' %}

{% block body %}
  <div class='sub_title'>History</div>
  {% for key in dates %}
    <div class='history_day'>
      <div class='history_day_title'>{{ escape(key) }}</div>
      {% for item in history[key] %}
        <div class='history_day_item' id='{{ item["id"] }}'>
          <div class='history_basics'>
            {{ escape(item['type_name']) }} &mdash; {{ escape(item['time']) }}
          </div>
          {% if item['comment'] is not None %}
            <div class='history_detail'>
              <a class='jquery_button item_comment_button'
                 data-id='{{ item["id"] }}'>
                <span class='ui-icon ui-icon-comment'></span>
              </a>
            </div>
          {% else %}
            <div class='history_spanner'>&nbsp;</div>
          {% end %}
          {% if item['location'] is not None %}
            <div class='history_detail'>
              <a class='jquery_button item_location_button'
                 data-id='{{ item["id"] }}'>
                <span class='ui-icon ui-icon-flag'></span>
              </a>
            </div>
          {% else %}
            <div class='history_spanner'>&nbsp;</div>
          {% end %}
          <div class='history_detail'>
            <a class='jquery_button item_delete_button'
               data-id='{{ item["id"] }}'>
              <span class='ui-icon ui-icon-trash'></span>
            </a>
          </div>
          <div style='clear:both;'></div>
        </div>

        <div class='item_details_container hidden ui-corner-all'
             id='item_{{ item["id"] }}'>
          <div class='item_comment_details' id='item_{{ item["id"] }}'>
            {% if item['comment'] is not None %}
              Comment: {{ escape(item["comment"]) }}
            {% end %}
          </div>

          <div class='item_location_details' id='item_{{ item["id"] }}'>
            Location: {{ item["location"] }}
          </div>
        </div>

        <div class='item_delete_confirm_dialog' id='item_{{ item["id"] }}'
              data-id='{{ item["id"] }}'>
          Are you sure?
        </div>
      {% end %}
    </div>
  {% end %}
{% end %}

{% block bottom %}
<script type='text/javascript' src='/static/history.js'></script>
{% end %}