{% extends 'base.html' %}

{% block body %}
  <div id='increment_count_lightbox' title='+1'>
    <form name='increment_form'>
      <div>Add a comment (optional)</div>
      <div><textarea name='comment' id='comment' rows='3' cols="30"></textarea></div>
      <div>Location</div>
      <div>
        <select id='user_location_select' name='location'>
          <option>Searching...</option>
        </select>
      </div>
      <div>Want to set up a location?  Go <a href="/user/profile">here</a>.</div>
    </form>
  </div>
  {% for i in data %}
    <div class='counter_container'>
      <div class='sub_title'>Today's {{ escape(i[0]) }} Count</div>
      <div class='counter_value' id='{{ escape(i[0]) }}'>{{ i[1] }}</div>
      <div class='counter_increment_container' id='{{ escape(i[0]) }}'>
        <a class='jquery_button counter_increment'
           id='{{ escape(i[0]) }}'>+1</a>
        <a class='jquery_button counter_increment_advanced'
           id='{{ escape(i[0]) }}'>+1...</a>
      </div>
    </div>
  {% end %}
{% end %}

{% block bottom %}
<script type='text/javascript' src='/static/geo.min.js'></script>
<script type='text/javascript' src='/static/user.js'></script>
{% end %}
