{% extends 'base.html' %}

{% block body %}
  <div id='increment_count_lightbox' title='Increment Count'>
    <form name='increment_form'>
      <div>Add a comment (optional)</div>
      <div><textarea name='comment' id='comment' rows='5' cols="30"></textarea></div>
    </form>
  </div>
  {% for i in data %}
    <div class='counter_container'>
      <div class='counter_title'>Today's {{ escape(i[0]) }} Count</div>
      <div class='counter_value' id='{{ escape(i[0]) }}'>{{ i[1] }}</div>
      <div class='counter_increment_container'>
        <a class='jquery_button counter_increment' href='#'
           id='{{ escape(i[0]) }}'>+1</a>
      </div>
    </div>
  {% end %}
{% end %}

{% block bottom %}
<script type='text/javascript' src='/static/user.js'></script>
{% end %}
