{% extends 'base.html' %}

{% block body %}
  {% for i in data %}
    <div class='counter-container'>
      <div class='counter-title'>Today's {{ escape(i[0]) }} Count</div>
      <div class='counter-value' id='{{ escape(i[0]) }}'>{{ i[1] }}</div>
      <div class='counter-increment-container'>
        <a class='jquery-button counter-increment' href='#'
           id='{{ escape(i[0]) }}'>+1</a>
      </div>
    </div>
  {% end %}
  <a class='jquery-button' href='/user/options' id='user-options-button'>Options</a>
{% end %}

{% block bottom %}
<script type='text/javascript' src='/static/user.js'></script>
{% end %}
